/* ----- RESET -----*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----- Root -----*/
:root {
  --clr-primary-400: #db4a2f;
  --clr-secondary-400: #9c603c;
  --clr-neutral-100: #fefefe;
  --clr-neutral-200: #d3d3d3;
  --clr-neutral-900: #051014;
  --clr-neutral-800: #2e2f2f;

  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
}

/* ----- Fonts ----- */
@font-face {
  font-family: "MoonTime";
  src: local(''),
    url("/fonts/MoonTime/MoonTime-Regular.otf") format("opentype"),
    url("/fonts/MoonTime/MoonTime-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* ubuntu-300 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

/* ubuntu-300italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}

/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

/* ubuntu-italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
}

/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

/* ubuntu-500italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

/* ubuntu-700italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

/* ----- General styles -----*/
body {
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-800);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--size-400);
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1.3;
  color: var(--clr-primary-400);
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3 {
  font-size: var(--size-600);
}

time {
  display: block;
  font-size: var(--size-300);
  color: var(--clr-secondary-400);

  --flow-space: var(--size-400)
}

a:not([class]) {
  color: currentColor;
}

:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

[href]:hover {
  text-decoration: none;
}

img {
  max-width: min(55rem, 100%);
}

figcaption {
  font-size: var(--size-300);

  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

::selection {
  color: var(--clr-neutral-100);
  background: rgba(0, 0, 0, 0.99);
}

p,
li {
  max-width: 60ch;
}

h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 25ch;
}

@media (min-width: 45em) {
  h1 {
    font-size: var(--size-900);
  }

  h2 {
    font-size: var(--size-700);
  }

  p {
    font-size: var(--size-500);
  }

  figcaption {
    font-size: var(--size-400);
  }

  blockquote p {
    font-size: var(--size-600);
    max-width: 40ch;
  }

  time {
    font-size: var(--size-400);
  }
}


/* ----- Utility classes ----- */
.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  width: var(--wrapper-width, 90vw);
  width: clamp(var(--wrapper-min, 16rem), var(--wrapper-width, 90vw), var(--wrapper-max, 60rem));
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}

.wrapper--long {
  --wrapper-max: 90rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flex {
  display: flex;
  gap: 1em;
}

/* ----- Components -----*/
.site-head {
  padding: 1rem;
}

.site-head__brand {
  font-family: "MoonTime", "Ubuntu", sans-serif;
  text-decoration: none;
  color: var(--clr-primary-400);
  font-size: 3rem;
}

.site-foot {
  padding: var(--size-600);
}

.nav {
  color: var(--clr-secondary-400);
}

.nav a {
  text-decoration: none;
}

.nav a:hover,
.nav a:focus {
  color: var(--clr-primary-400);
  outline: 2px dashed;
  outline-offset: 0.25rem;
}