{% extends "layouts/base.html" %}
{% set pageHeaderTitle = title %}
{% set postListItems = pagination.items %}
{% block content %}
    <article>
        {% include "partials/page-header.html" %}
        <div class="[ wrapper ] [ flow ]" id="post-list">
            {% if postListHeadline %}
                <h2 class="[ headline ]">
                    {{ postListHeadline }}
                </h2>
            {% endif %}
            <div>
                <ol class="[ post-list ] [ flow ]">
                    {% for item in postListItems %}
                        <li class="[ post-list__item ]">
                            <a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a>
                            <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            {% include "partials/pagination.html" %}
        </div>
    </article>
{% endblock %}