{% extends "layouts/base.html" %}
{% block content %}
    <div class="wrapper">
        {% set entryTitle = collections.evangelios[0].data.cita %}
        {% set entryDate = collections.evangelios[0].data.date %}
        {% set entryContent = collections.evangelios[0].templateContent %}
        {% set entryLink = collections.evangelios[0].data.link %}
		{% if entry %}
        {% set entryTitle = entry.title %}
        {% set entryDate = entry.date %}
        {% set entryContent = content %}
        {% set entryLink = entry.link %}
		{% endif %}
        {% include "partials/entry.html"%}
    </div>
{% endblock %}
