<article class="flow">
    {% include "partials/page-header.html" %}
    <div class="[ page-content ] [ flow wrapper ]">
        {% if pageContent %}
            {{ pageContent | safe }}
        {% else %}
            {{ content | safe }}
        {% endif %}
        {% if link %}
            <h2 class="entry__section">Meditación</h2>
            <div class="entry__media">
                <iframe src="https://open.spotify.com/embed/episode/{{ helpers.getSpotifyID(link) }}" loading="lazy" width="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        {% endif %}
    </div>
</article>