<article class="entry">
    <h1 class="entry__title">{{ entry.data.cita }}</h1>
    <date>{{ entry.data.date }}</date>
    <p class="entry__text">
        {{ entry.templateContent | safe }}
    </p>
    {% if entry.data.link %}
        <h2 class="entry__section">Meditación</h2>
        <div class="entry__media">
            <iframe src="https://open.spotify.com/embed/episode/{{ helpers.getSpotifyID(entry.data.link) }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    {% endif %}
</article>